openapi: 3.0.3
info:
  title: CSE API
  version: "1.0.0"
  description: API specification for the Colombo Stock Exchange public endpoints
servers:
  - url: https://www.cse.lk/api
paths:
  /companyInfoSummery:
    post:
      tags:
        - Company Data
      summary: Get summary information for a company by symbol
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  example: AEL.N0000
              required: [symbol]
      responses:
        '200':
          description: Successful response with company summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqSymbolBetaInfo:
                    type: object
                    properties:
                      securityId:
                        type: integer
                      triASIBetaValue:
                        type: number
                        format: float
                      betaValueSPSL:
                        type: number
                        format: float
                      triASIBetaPeriod:
                        type: string
                      quarter:
                        type: integer
                  reqTagsLogo:
                    nullable: true
                    type: object
                  reqLogo:
                    type: object
                    properties:
                      id:
                        type: integer
                      path:
                        type: string
                  reqSymbolInfo:
                    type: object
                    properties:
                      id:
                        type: integer
                      symbol:
                        type: string
                      name:
                        type: string
                      issueDate:
                        type: string
                      quantityIssued:
                        type: integer
                      parValue:
                        type: number
                        format: float
                      issuedPrice:
                        nullable: true
                        type: number
                        format: float
                      lastTradedPrice:
                        type: number
                        format: float
                      wtdHiPrice:
                        type: number
                        format: float
                      mtdHiPrice:
                        type: number
                        format: float
                      ytdHiPrice:
                        type: number
                        format: float
                      p12HiPrice:
                        type: number
                        format: float
                      allHiPrice:
                        type: number
                        format: float
                      allLowPrice:
                        type: number
                        format: float
                      wtdLowPrice:
                        type: number
                        format: float
                      mtdLowPrice:
                        type: number
                        format: float
                      ytdLowPrice:
                        type: number
                        format: float
                      p12LowPrice:
                        type: number
                        format: float
                      tdyShareVolume:
                        type: integer
                      wdyShareVolume:
                        type: integer
                      mtdShareVolume:
                        type: integer
                      ytdShareVolume:
                        type: integer
                      p12ShareVolume:
                        type: integer
                      tdyTradeVolume:
                        type: integer
                      wtdTradeVolume:
                        nullable: true
                        type: integer
                      mtdTradeVolume:
                        nullable: true
                        type: integer
                      ytdTradeVolume:
                        nullable: true
                        type: integer
                      p12TradeVolume:
                        nullable: true
                        type: integer
                      tdyTurnover:
                        type: number
                        format: float
                      wtdTurnover:
                        type: number
                        format: float
                      mtdTurnover:
                        type: number
                        format: float
                      ytdTurnover:
                        type: number
                        format: float
                      p12Turnover:
                        nullable: true
                        type: number
                        format: float
                      previousClose:
                        type: number
                        format: float
                      foreignHoldings:
                        nullable: true
                        type: number
                        format: float
                      foreignPercentage:
                        nullable: true
                        type: number
                        format: float
                      instrumentsDate:
                        nullable: true
                        type: string
                      hiTrade:
                        type: number
                        format: float
                      lowTrade:
                        type: number
                        format: float
                      closingPrice:
                        type: number
                        format: float
                      marketCap:
                        type: number
                        format: float
                      marketCapPercentage:
                        type: number
                        format: float
                      change:
                        type: number
                        format: float
                      changePercentage:
                        type: number
                        format: float
                      symbolIndexShareVolume:
                        type: integer
                      isin:
                        type: string
  /tradeSummary:
    post:
      tags:
        - Market Summary and General Prices
      summary: Get trade summary for all companies
      responses:
        '200':
          description: Successful response with trade summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqTradeSummery:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        symbol:
                          type: string
                        quantity:
                          type: integer
                        percentageChange:
                          type: number
                          format: float
                        change:
                          type: number
                          format: float
                        price:
                          type: number
                          format: float
                        previousClose:
                          type: number
                          format: float
                        high:
                          type: number
                          format: float
                        low:
                          type: number
                          format: float
                        lastTradedTime:
                          type: integer
                        issueDate:
                          type: string
                        turnover:
                          type: number
                          format: float
                        sharevolume:
                          type: integer
                        tradevolume:
                          type: integer
                        marketCap:
                          type: number
                          format: float
                        marketCapPercentage:
                          type: number
                          format: float
                        open:
                          type: number
                          format: float
                        closingPrice:
                          type: number
                          format: float
                        crossingVolume:
                          type: integer
                        crossingTradeVol:
                          type: integer
                        status:
                          type: integer
  /todaySharePrice:
    post:
      tags:
        - Market Summary and General Prices
      summary: Get today's share price for all companies
      responses:
        '200':
          description: Successful response with today's share prices
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    symbol:
                      type: string
                    open:
                      type: number
                      format: float
                    high:
                      type: number
                      format: float
                    low:
                      type: number
                      format: float
                    lastTradedPrice:
                      type: number
                      format: float
                    change:
                      type: number
                      format: float
                    changePercentage:
                      type: number
                      format: float
                    crossingVolume:
                      type: integer
                    tradesTime:
                      type: integer
                    quantity:
                      type: integer
  /topGainers:
    post:
      tags:
        - Market Performance
      summary: Get today's top gainers
      responses:
        '200':
          description: Successful response with top gaining stocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StockTrade'
  /topLooses:
    post:
      tags:
        - Market Performance
      summary: Get today's top losing stocks
      responses:
        '200':
          description: Successful response with top losing stocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StockTrade'
  /mostActiveTrades:
    post:
      tags:
        - Market Performance
      summary: Get most active trades
      responses:
        '200':
          description: Successful response with most active trades
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    securityId:
                      type: integer
                    symbol:
                      type: string
                    tradeVolume:
                      type: number
                      format: float
                    shareVolume:
                      type: number
                      format: float
                    turnover:
                      type: number
                      format: float
                    percentageShareVolume:
                      type: number
                      format: float
  /getNewListingsRelatedNoticesAnnouncements:
    post:
      tags:
        - Announcements
      summary: Get new listings related notices and announcements
      responses:
        '200':
          description: Successful response with new listings announcements
          content:
            application/json:
              schema:
                type: object
                properties:
                  newListingRelatedAnnouncements:
                    type: array
                    items:
                      $ref: '#/components/schemas/NewListingAnnouncement'
  /getBuyInBoardAnnouncements:
    post:
      tags:
        - Announcements
      summary: Get buy-in board announcements
      responses:
        '200':
          description: Successful response with buy-in board announcements
          content:
            application/json:
              schema:
                type: object
                properties:
                  buyInBoardAnnouncements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Announcement'
  /approvedAnnouncement:
    post:
      tags:
        - Announcements
      summary: Get approved announcements
      responses:
        '200':
          description: Successful response with approved announcements
          content:
            application/json:
              schema:
                type: object
                properties:
                  approvedAnnouncements:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApprovedAnnouncement'
  /getFinancialAnnouncement:
    post:
      tags:
        - Announcements
      summary: Get financial announcements
      responses:
        '200':
          description: Successful response with financial announcements
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqFinancialAnnouncemnets:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/AnnouncementFileBase'
                        - type: object
                          properties:
                            name:
                              type: string
                            symbol:
                              type: string
                            authorizedDate:
                              type: string
  /circularAnnouncement:
    post:
      tags:
        - Announcements
      summary: Get circular announcements
      responses:
        '200':
          description: Successful response with circular announcements
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqCircularAnnouncement:
                    type: array
                    items:
                      $ref: "#/components/schemas/AnnouncementFileBase"
  /directiveAnnouncement:
    post:
      tags:
        - Announcements
      summary: Get directive announcements
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqDirectiveAnnouncement:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnnouncementFileBase'
  /getNonComplianceAnnouncements:
    post:
      tags:
        - Announcements
      summary: Get non-compliance announcements
      responses:
        '200':
          description: Successful response with non-compliance announcements
          content:
            application/json:
              schema:
                type: object
                properties:
                  nonComplianceAnnouncements:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Announcement'
                        - type: object
                          properties:
                            companyName:
                              nullable: true
                              type: string
  /marketStatus:
    post:
      tags:
        - Market Summary and General Prices
      summary: Get current market status
      responses:
        '200':
          description: Successful response with market status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /marketSummery:
    post:
      tags:
        - Market Summary and General Prices
      summary: Get market summary
      responses:
        '200':
          description: Successful response with market summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  tradeVolume:
                    type: number
                    format: double
                  shareVolume:
                    type: integer
                  tradeDate:
                    type: integer
  /aspiData:
    post:
      tags:
        - Indices
      summary: Get ASPI index data
      responses:
        '200':
          description: Successful response with ASPI data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexData'
  /snpData:
    post:
      tags:
        - Indices
      summary: Get S&P SL20 index data
      responses:
        '200':
          description: Successful response with S&P data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexData'
  /chartData:
    post:
      tags:
        - Company Data
      summary: Get chart data for a symbol
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  description: Ticker symbol 
                  example: ALLI.N0000
                chartId:
                  type: integer
                  description: Chart type identifier (behavior not documented)
                  example: 1
                period:
                  type: integer
                  description: Time range indicator (behavior not documented)
                  example: 2
              required:
                - symbol
                - chartId
                - period
      responses:
        '200':
          description: Successful response with chart data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChartDataPoint'
        '400':
          description: Bad request (invalid or missing parameters)
  /allSectors:
    post:
      tags:
        - Sectors
      summary: Get all sector data
      responses:
        '200':
          description: Successful response with sector data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SectorData'
  /detailedTrades:
    post:
      tags:
        - Detailed Trading Feed
      summary: Get detailed trades
      responses:
        '200':
          description: Successful response with detailed trades
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqDetailTrades:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockTrade'
  /dailyMarketSummery:
    post:
      tags:
        - Market Summary and General Prices
      summary: Get daily market summaries
      responses:
        '200':
          description: Successful response with daily market summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/DailyMarketSummaryItem'
  /companyChartDataByStock:
    post:
      tags:
        - Company Data
      summary: Get historical chart data for a stock by internal stock ID
      description: >
        Returns time-series chart data for the given stock.  
        **Note:** `stockId` is not the trading symbol; it is an internal numeric identifier used by the API.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                stockId:
                  type: integer
                  description: Internal stock ID (not the ticker / symbol)
                  example: 340
                period:
                  type: integer
                  description: Time range selector (meaning unknown / undocumented)
                  example: 2
              required: [stockId, period]
            example:
              stockId: 340
              period: 2
      responses:
        '200':
          description: Chart data returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  chartData:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyChartDataItem'
        '400':
          description: Invalid stockId or period — server returns empty body


components:
  schemas:
    ChartDataPoint:
      type: object
      properties:
        d:
          type: integer
          description: Timestamp (epoch millis)
        v:
          type: number
          format: float
          description: Value at timestamp (index/price depending on chartId)
        pc:
          type: number
          format: float
          nullable: true
          description: Percentage change from previous value
      required:
        - d
        - v
    CompanyChartDataItem:
      type: object
      properties:
        h:
          type: number
          format: float
        l:
          type: number
          format: float
        o:
          type: number
          format: float
          nullable: true
        s:
          type: number
        q:
          type: number
        p:
          type: number
          format: float
        c:
          type: number
          nullable: true
        pc:
          type: number
          nullable: true
        t:
          type: integer
        n:
          type: number
          nullable: true
        id:
          type: integer
    DailyMarketSummaryItem:
      type: object
      properties:
        id:
          type: integer
        tradeDate:
          type: integer
        marketTurnover:
          type: number
          format: float
        marketTrades:
          type: number
          format: float
        marketDomestic:
          type: number
          format: float
        marketForeign:
          type: number
          format: float
        equityTurnover:
          type: number
          format: float
        equityDomesticPurchase:
          type: number
          format: float
        equityDomesticSales:
          type: number
          format: float
        equityForeignPurchase:
          type: number
          format: float
        equityForeignSales:
          type: number
          format: float
        volumeOfTurnOverNumber:
          type: number
          format: float
        volumeOfTurnoverDomestic:
          type: number
          format: float
        volumeOfTurnoverForeign:
          type: number
          format: float
        tradesNo:
          type: number
          format: float
        tradesNoDomestic:
          type: number
          format: float
        tradesNoForeign:
          type: number
          format: float
        listedCompanyNumber:
          type: number
          format: float
        tradeCompanyNumber:
          type: number
          format: float
        marketCap:
          type: number
          format: float
        cdsHoldingsTotal:
          type: number
          format: float
        cdsHoldingsDomestic:
          type: number
          format: float
        cdsHoldingsForeign:
          type: number
          format: float
        cdsMarketValueTotal:
          type: number
          format: float
        cdsMarketValueDomestic:
          type: number
          format: float
        cdsMarketValueForeign:
          type: number
          format: float
        corporateDebtValue:
          type: number
          format: float
        governmentDebtValue:
          type: number
          format: float
        triasi:
          type: number
          format: float
        spt:
          type: number
          format: float
        asi:
          type: number
          format: float
        mpi:
          type: number
          nullable: true
        spp:
          type: number
          format: float
        trimpi:
          type: number
          nullable: true
        per:
          type: number
          format: float
        pbv:
          type: number
          format: float
        dy:
          type: number
          format: float
    SectorData:
      type: object
      properties:
        id:
          type: integer
        sectorId:
          type: integer
        symbol:
          type: string
        indexCode:
          type: string
        indexCodeSp:
          type: string
        indexName:
          type: string
        name:
          type: string
        indexValue:
          type: number
          format: double
        change:
          type: number
          format: double
        percentage:
          type: number
          format: double
        sectorTradeToday:
          type: number
          format: double
        sectorVolumeToday:
          type: integer
        sectorTurnoverToday:
          type: number
          format: double
        sectorPreviousClose:
          type: number
          format: double
        transactionTime:
          type: integer
    StockTrade:
      type: object
      properties:
        id:
          type: integer
        securityId:
          type: integer
          nullable: true
        name:
          type: string
          nullable: true
        symbol:
          type: string
        price:
          type: number
          format: float
        change:
          type: number
          format: float
        changePercentage:
          type: number
          format: float
        tradeDate:
          type: integer
          nullable: true
        qty:
          type: number
          nullable: true
        trades:
          type: number
          nullable: true
    IndexData:
      type: object
      properties:
        id:
          type: integer
        value:
          type: number
          format: double
        lowValue:
          type: number
          format: double
        highValue:
          type: number
          format: double
        change:
          type: number
          format: double
        percentage:
          type: number
          format: double
        sectorId:
          type: number
          format: double
        timestamp:
          type: integer
    AnnouncementFileBase:
      type: object
      properties:
        id:
          type: integer
        path:
          type: string
        manualDate:
          type: integer
        uploadedDate:
          type: string
        fileText:
          type: string
    Announcement:
      type: object
      properties:
        id:
          type: integer
        announcementId:
          type: integer
        createdDate:
          type: string
        title:
          nullable: true
          type: string
        announcementCategory:
          type: string
        category:
          type: string
        company:
          type: string
    NewListingAnnouncement:
      allOf:
        - $ref: '#/components/schemas/Announcement'
        - type: object
          properties:
            remarks:
              type: string
    ApprovedAnnouncement:
      allOf:
        - $ref: '#/components/schemas/Announcement'
        - type: object
          properties:
            dateOfAnnouncement:
              type: string
            type:
              nullable: true
              type: string
            symbol:
              nullable: true
              type: string
            recordDate:
              nullable: true
              type: string
            allotment:
              nullable: true
              type: string
            xr:
              nullable: true
              type: string
            xc:
              nullable: true
              type: string
            xd:
              nullable: true
              type: string
            tradingCommencement:
              nullable: true
              type: string
            tradingSuspended:
              nullable: true
              type: string
            paymentDate:
              nullable: true
              type: string
            agmDate:
              nullable: true
              type: string
            dateOfAgmInitial:
              nullable: true
              type: string
    TopStockArray:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
          securityId:
            type: integer
          symbol:
            type: string
          price:
            type: number
            format: float
          change:
            type: number
            format: float
          changePercentage:
            type: number
            format: float
          tradeDate:
            type: integer